#top-bar {
  background-color: #000000; }
  #top-bar .container {
    background-color: inherit; }
  #top-bar ul.top-link {
    float: right;
    margin: 0; }
    #top-bar ul.top-link li {
      float: left;
      list-style: none;
      padding: 0.2em 0 0.2em 1em; }
      #top-bar ul.top-link li a, #top-bar ul.top-link li span {
        color: #dddddd; }
      #top-bar ul.top-link li i.fa {
        font-size: 20px; }

#header {
  border-bottom: 10px solid #fc0;
  min-height: 110px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0; }
  #header #header-inner {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden; }
    #header #header-inner #logo {
      float: left;
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid #333;
      height: 70px; }
      #header #header-inner #logo img {
        vertical-align: bottom;
        height: 70px; }
    #header #header-inner #site-logo {
      float: right;
      max-height: 70px; }
      #header #header-inner #site-logo img {
        max-height: 70px; }
    #header #header-inner #site-name {
      margin: 0; }
    #header #header-inner #name-and-slogan {
      float: left;
      margin-top: 8px; }
      #header #header-inner #name-and-slogan h1 {
        margin-top: 0;
        font-size: 34px; }
    #header #header-inner #med-link {
      font-size: 14px;
      margin-left: 2px; }
    #header #header-inner #site-slogan {
      float: left;
      margin-top: 14px; }
    #header #header-inner a {
      font-weight: normal; }
      #header #header-inner a:link, #header #header-inner a:visited {
        color: #000;
        text-decoration: none; }
      #header #header-inner a:hover, #header #header-inner a:focus {
        text-decoration: underline; }
    #header #header-inner .search-box {
      margin-top: 10px; }

@media (max-width: 768px) {
  #header {
    display: none; }

  .navbar-header .logo img {
    max-height: 34px; } }
#navbar-wrapper {
  background-color: #2F3030; }
  #navbar-wrapper #navbar {
    background-color: #2F3030;
    border: 0 none;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0; }
    #navbar-wrapper #navbar > [class*='col-'] {
      padding-right: 0;
      padding-left: 0; }
    #navbar-wrapper #navbar .container {
      background-color: #2F3030; }
      #navbar-wrapper #navbar .container #block-tb-megamenu-main-menu {
        padding-right: 0;
        padding-left: 0; }
        #navbar-wrapper #navbar .container #block-tb-megamenu-main-menu > [class*='col-'] {
          padding-right: 0;
          padding-left: 0; }
        #navbar-wrapper #navbar .container #block-tb-megamenu-main-menu .tb-megamenu {
          background-color: inherit; }
          #navbar-wrapper #navbar .container #block-tb-megamenu-main-menu .tb-megamenu .btn-navbar {
            display: none; }
      #navbar-wrapper #navbar .container ul.nav {
        background-color: #2F3030; }
        #navbar-wrapper #navbar .container ul.nav li.level-1:first-child a {
          background: url(../../img/nav-home.png) no-repeat left center;
          text-indent: -9999px;
          width: 0; }
        #navbar-wrapper #navbar .container ul.nav li a {
          color: #eeeeee;
          font-size: 18px;
          font-weight: normal;
          text-shadow: 0px 1px 1px #000;
          border: 0 none;
          background-color: inherit; }
          #navbar-wrapper #navbar .container ul.nav li a:hover {
            color: #fc0; }
          #navbar-wrapper #navbar .container ul.nav li a.active, #navbar-wrapper #navbar .container ul.nav li a:focus, #navbar-wrapper #navbar .container ul.nav li a:hover {
            color: #fc0;
            background-color: #2F3030; }
          #navbar-wrapper #navbar .container ul.nav li a.active-trail {
            color: #fc0; }
        #navbar-wrapper #navbar .container ul.nav li.dropdown.active .dropdown-toggle {
          background-color: inherit; }
        #navbar-wrapper #navbar .container ul.nav .dropdown-menu {
          background-color: #eeeeee;
          width: 100%; }
          #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav {
            background-color: inherit;
            padding-left: 15px; }
            #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav ul.nav {
              padding-bottom: 15px; }
            #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav span.nolink {
              font-size: 16px;
              color: #222222; }
            #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav a {
              color: #555555;
              font-size: 16px;
              text-shadow: none; }
              #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav a.active, #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav a:focus, #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav a:hover {
                background-color: inherit; }
              #navbar-wrapper #navbar .container ul.nav .dropdown-menu ul.nav a:hover {
                color: #428bca;
                text-decoration: underline; }
      #navbar-wrapper #navbar .container .navbar-brand {
        color: white; }
      #navbar-wrapper #navbar .container .navbar-toggle {
        border: 0 none; }
        #navbar-wrapper #navbar .container .navbar-toggle span {
          background-color: white; }
      #navbar-wrapper #navbar .container .navbar-toggle:hover,
      #navbar-wrapper #navbar .container .navbar-toggle:focus {
        background-color: #444; }
      #navbar-wrapper #navbar .container .region-navigation {
        margin-left: -15px;
        margin-right: -15px; }
        #navbar-wrapper #navbar .container .region-navigation:before, #navbar-wrapper #navbar .container .region-navigation:after {
          content: " ";
          /* 1 */
          display: table;
          /* 2 */ }
        #navbar-wrapper #navbar .container .region-navigation:after {
          clear: both; }
      #navbar-wrapper #navbar .container .block-search {
        padding-right: 0;
        padding-left: 0;
        margin: 7.5px 0; }
      #navbar-wrapper #navbar .container #block-search-form input.form-text {
        width: 100%;
        height: 34px; }

@media (min-width: 768px) {
  .navbar-header {
    display: none; } }
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse {
    position: static !important;
    top: 0;
    overflow: initial !important;
    height: initial !important;
    display: block !important;
    clear: none; }
    .tb-megamenu .nav-collapse li:hover .dropdown-menu {
      display: block !important;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10; }
    .tb-megamenu .nav-collapse .nav > li.level-1 {
      float: left; } }
@media (max-width: 768px) {
  #navbar {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-bottom: 15px; }
    #navbar .tb-megamenu .nav-collapse {
      max-height: initial; }
      #navbar .tb-megamenu .nav-collapse li.level-1 {
        float: none !important; }
        #navbar .tb-megamenu .nav-collapse li.level-1:first-child {
          padding-left: 15px; }
      #navbar .tb-megamenu .nav-collapse li.level-1:hover .dropdown-menu {
        display: none !important; } }
/*
 * http://www.sitepoint.com/5-useful-sass-mixins-bootstrap/
 *
 */
body {
  font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
  background: #ffffff;
  color: #333;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }
  body h1 {
    font-size: 34px; }
  body h2 {
    font-size: 27px; }
  body h3 {
    font-size: 24px; }
  body img {
    display: block;
    max-width: 100%;
    height: auto; }

h2 {
  margin-bottom: 20px; }

.container {
  background-color: white; }

#slideshow section {
  padding: 0; }
#slideshow .views-slideshow-cycle-main-frame {
  width: 100% !important; }
#slideshow .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto !important; }
#slideshow .view-content .views-slideshow-controls-bottom {
  position: relative;
  margin-top: -22px;
  z-index: 10;
  text-align: center; }
  #slideshow .view-content .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #AAAAAA; }
  #slideshow .view-content .views-slideshow-controls-bottom .active {
    background: #ffd700; }

.front .main-container .page-header {
  display: none; }
.front .main-container .tabs--primary {
  display: none; }
.front .main-container .region-content {
  margin-left: -15px;
  margin-right: -15px; }
  .front .main-container .region-content:before, .front .main-container .region-content:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .front .main-container .region-content:after {
    clear: both; }
  .front .main-container .region-content .main-slideshow {
    padding-left: 0;
    padding-right: 0; }
  .front .main-container .region-content #block-system-main,
  .front .main-container .region-content .home-quick-links {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      .front .main-container .region-content #block-system-main,
      .front .main-container .region-content .home-quick-links {
        float: left;
        width: 100%; } }
  .front .main-container .region-content #block-system-main {
    margin-bottom: 15px; }
  .front .main-container .region-content .home-quick-links a,
  .front .main-container .region-content .home-quick-links a:hover,
  .front .main-container .region-content .home-quick-links a:focus {
    color: white; }
  .front .main-container .region-content .home-quick-links .views-row {
    list-style: none;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
    .front .main-container .region-content .home-quick-links .views-row:hover img {
      opacity: 0.5; }
    .front .main-container .region-content .home-quick-links .views-row .title-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1em;
      margin: 0;
      background-color: rgba(25, 25, 25, 0.5); }

.main-container {
  padding-top: 20px;
  padding-bottom: 50px;
  /* content top - search box etc */ }
  .main-container .page-header img {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle; }
  .main-container form fieldset.panel {
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .main-container .view .views-row {
    padding-bottom: 15px; }
  .main-container .region-content h2.block-title {
    border-top: 1px solid #eeeeee;
    padding-top: 15px; }
  .main-container .question-nav a, .main-container .question-nav i {
    color: #777777; }
  .main-container .node .field, .main-container .node.node-webform .form-item {
    padding-bottom: 20px; }
    .main-container .node .field.field-type-image, .main-container .node.node-webform .field-type-image.form-item {
      float: right;
      padding-left: 15px; }
  .main-container .node.node-webform .form-item .form-item {
    padding-bottom: 15px;
    margin-left: 1em; }
  .main-container .node.node-webform .form-item .form-radios,
  .main-container .node.node-webform .form-item .form-checkbox,
  .main-container .node.node-webform .form-item .form-file {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .main-container .node.node-webform .form-item .description {
    font-size: 0.8em; }
  .main-container .node.node-webform label .form-required {
    color: red; }
  .main-container .node.node-webform .webform-container-inline {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em; }
    @media (min-width: 768px) {
      .main-container .node.node-webform .webform-container-inline {
        float: left;
        width: 100%; } }
    .main-container .node.node-webform .webform-container-inline label {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; }
      @media (min-width: 768px) {
        .main-container .node.node-webform .webform-container-inline label {
          float: left;
          width: 25%; } }
    .main-container .node.node-webform .webform-container-inline input {
      display: inline;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; }
      @media (min-width: 768px) {
        .main-container .node.node-webform .webform-container-inline input {
          float: left;
          width: 75%; } }
    .main-container .node.node-webform .webform-container-inline .description {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      padding-left: 0; }
      @media (min-width: 768px) {
        .main-container .node.node-webform .webform-container-inline .description {
          float: left;
          width: 100%; } }
  .main-container .node.node-webform #edit-submitted-attach-abstract-ajax-wrapper {
    overflow: hidden; }
    .main-container .node.node-webform #edit-submitted-attach-abstract-ajax-wrapper input {
      padding-left: 0;
      padding-right: 0; }
  .main-container .node.node-webform .radio,
  .main-container .node.node-webform .checkbox {
    margin-bottom: 0; }
  .main-container .g-recaptcha:before, .main-container .g-recaptcha:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .main-container .g-recaptcha:after {
    clear: both; }
  .main-container .webform-submit {
    margin-top: 2em; }
  .main-container .search-results h3.title {
    font-size: 16px; }
  .main-container .search-results .search-info {
    display: none; }

.page-user .profile .field-type-image {
  float: right;
  padding-left: 15px;
  padding-bottom: 15px; }
.page-user .profile .field, .page-user .profile .main-container .node.node-webform .form-item, .main-container .node.node-webform .page-user .profile .form-item {
  padding-bottom: 15px; }

aside section {
  background: #E9E7E6;
  padding: 15px;
  margin-bottom: 15px; }
  aside section h2 {
    color: #555555;
    margin-top: 0;
    padding-bottom: 15px;
    margin-bottom: 8px; }
  aside section a {
    color: #555555; }
    aside section a:hover, aside section a:focus {
      color: #555555; }
  aside section.collapsible-menu {
    background: #00547a; }
    aside section.collapsible-menu .block-title {
      color: white; }
    aside section.collapsible-menu ul.menu a, aside section.collapsible-menu ul.menu span.nolink {
      position: relative;
      display: block;
      padding: 10px 15px;
      color: white;
      font-weight: bold; }
    aside section.collapsible-menu ul.menu a {
      text-decoration: underline; }
    aside section.collapsible-menu ul.menu li:hover {
      background-color: #222222; }
      aside section.collapsible-menu ul.menu li:hover a, aside section.collapsible-menu ul.menu li:hover span.nolink {
        color: white;
        background-color: inherit; }
      aside section.collapsible-menu ul.menu li:hover ul, aside section.collapsible-menu ul.menu li:hover li {
        background-color: white;
        padding-bottom: 0; }
        aside section.collapsible-menu ul.menu li:hover ul a, aside section.collapsible-menu ul.menu li:hover ul span.nolink, aside section.collapsible-menu ul.menu li:hover li a, aside section.collapsible-menu ul.menu li:hover li span.nolink {
          color: #555555; }
        aside section.collapsible-menu ul.menu li:hover ul a:hover, aside section.collapsible-menu ul.menu li:hover li a:hover {
          color: #428bca; }
    aside section.collapsible-menu ul.menu ul.menu {
      display: none;
      padding-left: 15px; }
      aside section.collapsible-menu ul.menu ul.menu a, aside section.collapsible-menu ul.menu ul.menu span.nolink {
        font-weight: normal;
        padding: 5px 15px; }
      aside section.collapsible-menu ul.menu ul.menu ul {
        display: block; }
  aside section .table tr td {
    padding: 0;
    border: 0 none;
    vertical-align: middle; }

.faq-content .faq .faq-question-answer {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0; }
  .faq-content .faq .faq-question-answer .faq-question {
    cursor: pointer;
    padding: 5px 0px 5px 0px; }
    .faq-content .faq .faq-question-answer .faq-question .marker {
      background-color: #2F3030;
      background-image: url("../images/faq-plus.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 8px 8px;
      display: inline-block;
      height: 26px;
      margin-right: 25px;
      vertical-align: -6px;
      width: 26px; }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .faq-content .faq .faq-question-answer .faq-question .marker {
          background-image: url("../images/faq-plus@2x.png"); } }
    .faq-content .faq .faq-question-answer .faq-question a {
      color: #333333;
      font-size: larger;
      text-decoration: none; }
    .faq-content .faq .faq-question-answer .faq-question.faq-qa-visible .marker {
      background-color: #00547a;
      background-image: url("../images/faq-minus.png");
      background-size: 8px 2px; }
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        .faq-content .faq .faq-question-answer .faq-question.faq-qa-visible .marker {
          background-image: url("../images/faq-minus@2x.png"); } }
    .faq-content .faq .faq-question-answer .faq-question:hover .marker {
      background-color: #00547a; }
  .faq-content .faq .faq-question-answer .faq-answer {
    margin-top: 20px;
    padding-left: 15px; }
  .faq-content .faq .faq-question-answer .faq-detailed-question {
    padding-bottom: 30px; }

.tools-list ul.menu {
  padding-bottom: 15px; }
  .tools-list ul.menu a, .tools-list ul.menu span.nolink {
    font-weight: bold;
    font-size: large; }
  .tools-list ul.menu ul.menu {
    padding-left: 15px;
    padding-bottom: 5px; }
    .tools-list ul.menu ul.menu span.nolink {
      font-weight: normal; }
    .tools-list ul.menu ul.menu a {
      font-weight: normal;
      text-decoration: underline;
      font-size: medium; }

/* START - back to top */
#back-top {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100px;
  background-color: #EEEEEE;
  background-color: rgba(238, 238, 238, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99EEEEEE',EndColorStr='#99EEEEEE');
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: -5px;
  right: 50%;
  cursor: pointer;
  color: #444;
  text-decoration: none;
  border: 1px solid #C9C9C9; }

#back-top a {
  color: #444;
  font-weight: bold;
  font-size: 14px; }

/* END - back to top */
.no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.no-left-gutter {
  padding-left: 0 !important; }

.no-right-gutter {
  padding-right: 0 !important; }

.blockquote blockquote,
.node-page .content .field blockquote,
.node-page .content .main-container .node.node-webform .form-item blockquote,
.main-container .node.node-webform .node-page .content .form-item blockquote {
  background: #f9f9f9;
  border-left: 10px solid #999;
  margin: 1.5em 0;
  padding: 1em; }
  .blockquote blockquote:before,
  .node-page .content .field blockquote:before,
  .node-page .content .main-container .node.node-webform .form-item blockquote:before,
  .main-container .node.node-webform .node-page .content .form-item blockquote:before {
    color: #999;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .blockquote blockquote:after,
  .node-page .content .field blockquote:after,
  .node-page .content .main-container .node.node-webform .form-item blockquote:after,
  .main-container .node.node-webform .node-page .content .form-item blockquote:after {
    content: close-quote;
    visibility: hidden; }
  .blockquote blockquote p,
  .node-page .content .field blockquote p,
  .node-page .content .main-container .node.node-webform .form-item blockquote p,
  .main-container .node.node-webform .node-page .content .form-item blockquote p {
    display: inline;
    color: #444; }

@media (max-width: 1200px) and (min-width: 768px) {
  #slideshow img {
    height: 300px !important; } }
@media (max-width: 768px) {
  #slideshow img {
    width: inherit;
    height: auto !important; }

  section {
    padding-bottom: 15px; } }
@media (max-width: 1200px) {
  #slideshow img {
    height: 400px !important; }

  .testimonial .views-row {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px; } }
  @media (max-width: 1200px) and (min-width: 768px) {
    .testimonial .views-row {
      float: left;
      width: 100%; } }
@media (max-width: 1200px) {
    .testimonial .views-row .testimonial-wrap {
      min-height: initial; } }
#footer-wrapper {
  background-color: #ebeae9; }

#footer-bottom-wrapper {
  background-color: #2F3030; }

.footer,
.footer-bottom {
  background-color: inherit; }
  .footer .nav > li > a:hover, .footer .nav > li > a:focus,
  .footer-bottom .nav > li > a:hover,
  .footer-bottom .nav > li > a:focus {
    background-color: inherit;
    text-decoration: underline; }

.footer {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer .caret {
    display: none; }
  .footer a,
  .footer span,
  .footer div,
  .footer p {
    color: #555555; }
  .footer .row {
    padding-bottom: 15px; }
  .footer .footer-menu ul.navbar-nav {
    margin: 0; }
    .footer .footer-menu ul.navbar-nav li {
      width: 100%; }
      .footer .footer-menu ul.navbar-nav li a {
        font-weight: bold;
        padding-left: 0;
        padding-top: 0.5em; }
  .footer .footer-contact h3 {
    margin-top: 0;
    padding-top: 10px; }
  .footer .footer-contact i.fa {
    width: 20px; }
  .footer .btn-donate {
    background-color: #d3373a; }
    .footer .btn-donate a {
      color: white; }

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer-bottom .footer-bottom-link ul.nav li a {
    color: #fc0;
    padding: 0.2em 0; }
    .footer-bottom .footer-bottom-link ul.nav li a.active, .footer-bottom .footer-bottom-link ul.nav li a:focus, .footer-bottom .footer-bottom-link ul.nav li a:hover {
      color: #fc0; }
  .footer-bottom .copyright {
    padding-top: 1em; }
    .footer-bottom .copyright span {
      color: #b7b7b7; }

/*# sourceMappingURL=style.css.map */
