.ui-widget-content { border: 1px solid #aaaaaa;
background: #B1D9F3 url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
color: #red;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #B1D9F3 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #red;
	font-weight: bold;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #black url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #black;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #red url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
	color: #red;
}

.ui-datepicker{
 font-size:14px;
}


